@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    var txt = "";
    if (DateTime.Now.Hour > 12)
    { txt = "Good Evening"; }
    else
    { txt = "Good Morning"; }
}
<html>
<body style="background-color:lightblue;">
    <p style="font-size:30px; ">@txt it is  @ViewData["TimeStamp"]</p>
 
</body>
</html>



