@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Single statement block -->
@{ var myMessage = "Welcome"; }


<h1> @myMessage</h1>

<!-- Multi-statement block -->
@{
    var greeting = "Visit our Privacy Page.";
   
    
}
<p> @greeting</p>

